<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="assets/bundle-style.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<% if (htmlWebpackPlugin.options.TEMPLATE_NAMES) { %>

    <div class="container">
        <h2>Available pages</h2>
        <ul>
            <% htmlWebpackPlugin.options.TEMPLATE_NAMES.forEach(name => { %>
            <li>
                <a href="<%- name %>.html"><%- name %>.html</a>
            </li>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <% htmlWebpackPlugin.options.FILES_TO_REQUIRE.forEach(path => { %>
        <%= require('raw!./' + path.substr(2)) %>
    <% }) %>
<% } %>

<% if (htmlWebpackPlugin.options.BUNDLE_NAME) { %>
<script src="assets/bundle-<%- htmlWebpackPlugin.options.BUNDLE_NAME %>.js"></script>
<% } %>

</body>
</html>
